openstack-identity-api-3/os-identity-3.wadl

<?xml version="1.0" encoding="UTF-8"?>

<application xmlns="http://wadl.dev.java.net/2009/02"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns:db="http://docbook.org/ns/docbook">
    <grammars>
        <!-- will fill in later -->
    </grammars>

    <resources base="http://localhost:5000">
        <resource path="v3">
            <method href="#getVersion"/>
            <resource path="tokens" type="#Tokens"/>
            <resource path="services" type="#Catalog"/>
            <resource path="domains" type="#Domains"/>
            <resource path="tenants" type="#Tenants"/>
        </resource>
    </resources>
    
    <!-- Resource Types -->
    <resource_type id="Tokens">
        <method href="#authenticate"/>
        <method href="#validate"/>
        <method href="#validateHead"/>
        <method href="#removeToken"/>
    </resource_type>
    
    <resource_type id="Catalog">
        <!-- All the following operations requrie an X-Auth-Token parameter -->
        <param type="xs:string" style="header" name="X-Auth-Token" required="true"/>
        <method href="#listServices"/>
        <method href="#createService"/>
        <resource path="{serviceID}">
            <param name="serviceID" type="xs:string" style="template"/>
            <method href="#getService"/>
            <method href="#updateService"/>
            <method href="#deleteService"/>
            <resource path="endpoints">
                <method href="#listEndpoints"/>
                <method href="#createEndpoint"/>
                <resource path="{endpointID}">
                    <param name="endpointID" type="xs:string" style="template"/>
                    <method href="#getEndpoint"/>
                    <method href="#updateEndpoint"/>
                    <method href="#deleteEndpoint"/>
                </resource>
            </resource>
        </resource>
    </resource_type>

    <resource_type id="Domains">
        <!-- All the following operations requrie an X-Auth-Token parameter -->
        <param type="xs:string" style="header" name="X-Auth-Token" required="true"/>
        <method href="#listDomains"/>
        <method href="#createDomain"/>
        <resource path="{domainID}">
            <param name="domainID" type="xs:string" style="template"/>
            <method href="#getDomain"/>
            <method href="#updateDomain"/>
            <method href="#deleteDomain"/>
            <resource path="tenants">
                <method href="#listTenants"/>
            </resource>
            <resource path="users">
                <method href="#listUsers">
                    <doc title="Get users for a domain."/>
                </method>
            </resource>
        </resource>
    </resource_type>
    
    <resource_type id="Tenants">
        <!-- All the following operations requrie an X-Auth-Token parameter -->
        <param type="xs:string" style="header" name="X-Auth-Token" required="true"/>
        <method href="#listTenants"/>
        <method href="#createTenant"/>
        <resource path="{tenantID}">
            <param name="tenantID" type="xs:string" style="template"/>
            <method href="#getTenant"/>
            <method href="#updateTenant"/>
            <method href="#deleteTenant"/>
            <resource path="users">
                <method href="#listUsers">
                    <doc title="Get users for a tenant."/>
                </method>
            </resource>
        </resource>
    </resource_type>

    <!-- Methods -->
    <method id="getVersion" name="GET">
        <doc title="Get Version">
            <db:para>
                Get version information about the identity service. 
            </db:para>
        </doc>
    </method>
    <!-- Token Methods -->
    <method id="authenticate" name="POST">
        <doc title="Authenticate">
            <db:para>
                Authenticate. 
            </db:para>
        </doc>
        <request>
            <representation mediaType="application/xml"/>
            <representation mediaType="application/json"/>
        </request>
        <!-- Okay -->
        <response status="200">
            <representation mediaType="application/xml"/>
            <representation mediaType="application/json"/>            
        </response>
        <!-- Error -->
        <response status="401 403 409 400 500 503">
            <representation mediaType="application/xml"/>
            <representation mediaType="application/json"/>            
        </response>
    </method>
    <method id="validate" name="GET">
        <doc title="Validate Token">
            <db:para>
                Validate the token supplied in the
                <db:parameter>X-Subject-Token</db:parameter>
                header.
            </db:para>
        </doc>
        <request>
            <param type="xs:string" style="header" name="X-Auth-Token" required="true"/>
            <param type="xs:string" style="header" name="X-Subject-Token" required="true"/>
        </request>
        <!-- Okay -->
        <response status="200">
            <representation mediaType="application/xml"/>
            <representation mediaType="application/json"/>            
        </response>
        <!-- Error -->
        <response status="401 403 409 400 500 503">
            <representation mediaType="application/xml"/>
            <representation mediaType="application/json"/>            
        </response>
    </method>
    <method id="validateHead" name="HEAD">
        <doc title="Validate Token (Head)">
            <db:para>
                Validate the token supplied in the
                <db:parameter>X-Subject-Token</db:parameter>
                header.
            </db:para>
        </doc>
        <request>
            <param type="xs:string" style="header" name="X-Auth-Token" required="true"/>
            <param type="xs:string" style="header" name="X-Subject-Token" required="true"/>
        </request>
        <!-- Okay -->
        <response status="200"/>
        <!-- Error -->
        <response status="401 403 409 400 500 503">
            <representation mediaType="application/xml"/>
            <representation mediaType="application/json"/>            
        </response>
    </method>
    <method id="removeToken" name="DELETE">
        <doc title="Remove Token">
            <db:para>
                Remove the token supplied in the
                <db:parameter>X-Subject-Token</db:parameter>
                header.
            </db:para>
        </doc>
        <request>
            <param type="xs:string" style="header" name="X-Auth-Token" required="true"/>
            <param type="xs:string" style="header" name="X-Subject-Token" required="true"/>
        </request>
        <!-- Okay -->
        <response status="204"/>
        <!-- Error -->
        <response status="401 403 409 400 500 503">
            <representation mediaType="application/xml"/>
            <representation mediaType="application/json"/>            
        </response>
    </method>
    <!-- Services Methods -->
    <method id="listServices" name="GET">
        <doc title="List Services">
            <db:para>
                Provide a list of services.
            </db:para>
        </doc>
        <!-- Okay -->
        <response status="200">
            <representation mediaType="application/xml"/>
            <representation mediaType="application/json"/>            
        </response>
        <!-- Error -->
        <response status="401 403 409 400 500 503">
            <representation mediaType="application/xml"/>
            <representation mediaType="application/json"/>            
        </response>
    </method>
    <method id="createService" name="POST">
        <doc title="Create Service">
            <db:para>
                Create a service.
            </db:para>
        </doc>
        <request>
            <representation mediaType="application/xml"/>
            <representation mediaType="application/json"/>
        </request>
        <!-- Okay -->
        <response status="201">
            <param name="Location" type="xs:anyURI" style="header" required="true"/>
            <representation mediaType="application/xml"/>
            <representation mediaType="application/json"/>            
        </response>
        <!-- Error -->
        <response status="401 403 409 400 500 503">
            <representation mediaType="application/xml"/>
            <representation mediaType="application/json"/>            
        </response>
    </method>
    <method id="getService" name="GET">
        <doc title="Get Service">
            <db:para>
                Get a service.
            </db:para>
        </doc>
        <!-- Okay -->
        <response status="200">
            <representation mediaType="application/xml"/>
            <representation mediaType="application/json"/>            
        </response>
        <!-- Error -->
        <response status="401 403 409 400 500 503">
            <representation mediaType="application/xml"/>
            <representation mediaType="application/json"/>            
        </response>
    </method>
    <method id="updateService" name="PATCH">
        <doc title="Update Service">
            <db:para>
                Update a service.
            </db:para>
        </doc>
        <request>
            <representation mediaType="application/xml"/>
            <representation mediaType="application/json"/>
        </request>
        <!-- Okay -->
        <response status="200">
            <representation mediaType="application/xml"/>
            <representation mediaType="application/json"/>            
        </response>
        <!-- Error -->
        <response status="401 403 409 400 500 503">
            <representation mediaType="application/xml"/>
            <representation mediaType="application/json"/>            
        </response>
    </method>
    <method id="deleteService" name="DELETE">
        <doc title="Delete Service">
            <db:para>
                Delete a service.
            </db:para>
        </doc>
        <!-- Okay -->
        <response status="204"/>
        <!-- Error -->
        <response status="401 403 409 400 500 503">
            <representation mediaType="application/xml"/>
            <representation mediaType="application/json"/>            
        </response>
    </method>
    <!-- Endpoint Methods -->
    <method id="listEndpoints" name="GET">
        <doc title="Get Endpoints">
            <db:para>
                Get a list of endpoints.
            </db:para>
        </doc>
        <!-- Okay -->
        <response status="200">
            <representation mediaType="application/xml"/>
            <representation mediaType="application/json"/>            
        </response>
        <!-- Error -->
        <response status="401 403 409 400 500 503">
            <representation mediaType="application/xml"/>
            <representation mediaType="application/json"/>            
        </response>
    </method>
    <method id="createEndpoint" name="POST">
        <doc title="Create Endpoint">
            <db:para>
                Create endpoint.
            </db:para>
        </doc>
        <request>
            <representation mediaType="application/xml"/>
            <representation mediaType="application/json"/>
        </request>
        <!-- Okay -->
        <response status="201">
            <param name="Location" type="xs:anyURI" style="header" required="true"/>
            <representation mediaType="application/xml"/>
            <representation mediaType="application/json"/>            
        </response>
        <!-- Error -->
        <response status="401 403 409 400 500 503">
            <representation mediaType="application/xml"/>
            <representation mediaType="application/json"/>            
        </response>
    </method>
    <method id="getEndpoint" name="GET">
        <doc title="Get Endpoint">
            <db:para>
                Get an endpoint.
            </db:para>
        </doc>
        <!-- Okay -->
        <response status="200">
            <representation mediaType="application/xml"/>
            <representation mediaType="application/json"/>            
        </response>
        <!-- Error -->
        <response status="401 403 409 400 500 503">
            <representation mediaType="application/xml"/>
            <representation mediaType="application/json"/>            
        </response>
    </method>
    <method id="updateEndpoint" name="PATCH">
        <doc title="Update Endpoint">
            <db:para>
                Update an endpoint.
            </db:para>
        </doc>
        <request>
            <representation mediaType="application/xml"/>
            <representation mediaType="application/json"/>
        </request>
        <!-- Okay -->
        <response status="200">
            <representation mediaType="application/xml"/>
            <representation mediaType="application/json"/>            
        </response>
        <!-- Error -->
        <response status="401 403 409 400 500 503">
            <representation mediaType="application/xml"/>
            <representation mediaType="application/json"/>            
        </response>
    </method>
    <method id="deleteEndpoint" name="DELETE">
        <doc title="Delete Endpoint">
            <db:para>
                Delete an Endpoint.
            </db:para>
        </doc>
        <!-- Okay -->
        <response status="204"/>
        <!-- Error -->
        <response status="401 403 409 400 500 503">
            <representation mediaType="application/xml"/>
            <representation mediaType="application/json"/>            
        </response>
    </method>
    <!-- Domains -->
    <method id="listDomains" name="GET">
        <doc title="Get Domains">
            <db:para>
                Get a list of domains.
            </db:para>
        </doc>
        <!-- Okay -->
        <response status="200">
            <representation mediaType="application/xml"/>
            <representation mediaType="application/json"/>            
        </response>
        <!-- Error -->
        <response status="401 403 409 400 500 503">
            <representation mediaType="application/xml"/>
            <representation mediaType="application/json"/>            
        </response>
    </method>
    <method id="createDomain" name="POST">
        <doc title="Create Domain">
            <db:para>
                Create a domain.
            </db:para>
        </doc>
        <request>
            <representation mediaType="application/xml"/>
            <representation mediaType="application/json"/>
        </request>
        <!-- Okay -->
        <response status="201">
            <param name="Location" type="xs:anyURI" style="header" required="true"/>
            <representation mediaType="application/xml"/>
            <representation mediaType="application/json"/>            
        </response>
        <!-- Error -->
        <response status="401 403 409 400 500 503">
            <representation mediaType="application/xml"/>
            <representation mediaType="application/json"/>            
        </response>
    </method>
    <method id="getDomain" name="GET">
        <doc title="Get Domain">
            <db:para>
                Get a domain.
            </db:para>
        </doc>
        <!-- Okay -->
        <response status="200">
            <representation mediaType="application/xml"/>
            <representation mediaType="application/json"/>            
        </response>
        <!-- Error -->
        <response status="401 403 409 400 500 503">
            <representation mediaType="application/xml"/>
            <representation mediaType="application/json"/>            
        </response>
    </method>
    <method id="updateDomain" name="PATCH">
        <doc title="Update Domain">
            <db:para>
                Update a domain.
            </db:para>
        </doc>
        <request>
            <representation mediaType="application/xml"/>
            <representation mediaType="application/json"/>
        </request>
        <!-- Okay -->
        <response status="200">
            <representation mediaType="application/xml"/>
            <representation mediaType="application/json"/>            
        </response>
        <!-- Error -->
        <response status="401 403 409 400 500 503">
            <representation mediaType="application/xml"/>
            <representation mediaType="application/json"/>            
        </response>
    </method>
    <method id="deleteDomain" name="DELETE">
        <doc title="Delete Domain">
            <db:para>
                Delete a Domain.
            </db:para>
        </doc>
        <!-- Okay -->
        <response status="204"/>
        <!-- Error -->
        <response status="401 403 409 400 500 503">
            <representation mediaType="application/xml"/>
            <representation mediaType="application/json"/>            
        </response>
    </method>
    <!-- Tenants -->
    <method id="listTenants" name="GET">
        <doc title="Get Tenants">
            <db:para>
                Get a list of tenants.
            </db:para>
        </doc>
        <!-- Okay -->
        <response status="200">
            <representation mediaType="application/xml"/>
            <representation mediaType="application/json"/>            
        </response>
        <!-- Error -->
        <response status="401 403 409 400 500 503">
            <representation mediaType="application/xml"/>
            <representation mediaType="application/json"/>            
        </response>
    </method>
    <method id="createTenant" name="POST">
        <doc title="Create Tenant">
            <db:para>
                Create a tenant.
            </db:para>
        </doc>
        <request>
            <representation mediaType="application/xml"/>
            <representation mediaType="application/json"/>
        </request>
        <!-- Okay -->
        <response status="201">
            <param name="Location" type="xs:anyURI" style="header" required="true"/>
            <representation mediaType="application/xml"/>
            <representation mediaType="application/json"/>            
        </response>
        <!-- Error -->
        <response status="401 403 409 400 500 503">
            <representation mediaType="application/xml"/>
            <representation mediaType="application/json"/>            
        </response>
    </method>
    <method id="getTenant" name="GET">
        <doc title="Get Tenant">
            <db:para>
                Get a tenant.
            </db:para>
        </doc>
        <!-- Okay -->
        <response status="200">
            <representation mediaType="application/xml"/>
            <representation mediaType="application/json"/>            
        </response>
        <!-- Error -->
        <response status="401 403 409 400 500 503">
            <representation mediaType="application/xml"/>
            <representation mediaType="application/json"/>            
        </response>
    </method>
    <method id="updateTenant" name="PATCH">
        <doc title="Update Tenant">
            <db:para>
                Update a tenant.
            </db:para>
        </doc>
        <request>
            <representation mediaType="application/xml"/>
            <representation mediaType="application/json"/>
        </request>
        <!-- Okay -->
        <response status="200">
            <representation mediaType="application/xml"/>
            <representation mediaType="application/json"/>            
        </response>
        <!-- Error -->
        <response status="401 403 409 400 500 503">
            <representation mediaType="application/xml"/>
            <representation mediaType="application/json"/>            
        </response>
    </method>
    <method id="deleteTenant" name="DELETE">
        <doc title="Delete Tenant">
            <db:para>
                Delete a tenant.
            </db:para>
        </doc>
        <!-- Okay -->
        <response status="204"/>
        <!-- Error -->
        <response status="401 403 409 400 500 503">
            <representation mediaType="application/xml"/>
            <representation mediaType="application/json"/>            
        </response>
    </method>
    <!-- Users-->
    <method id="listUsers" name="GET">
        <doc title="Get Users">
            <db:para>
                Get a list of users.
            </db:para>
        </doc>
        <!-- Okay -->
        <response status="200">
            <representation mediaType="application/xml"/>
            <representation mediaType="application/json"/>            
        </response>
        <!-- Error -->
        <response status="401 403 409 400 500 503">
            <representation mediaType="application/xml"/>
            <representation mediaType="application/json"/>            
        </response>
    </method>
</application>
